<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Cobrança</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

	<header layout:insert="Cabecalho"></header>

	<div class="container">
	
		<section layout:fragment="conteudo">
			<p>Conteúdo Principal</p>
		</section>
	
	</div>
	
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>