<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cobrança</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/datepicker.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<header layout:insert="Cabecalho"></header>

	<div class="box">
	
		<section layout:fragment="conteudo">
			<p>Conteúdo Principal</p>
		</section>
	
	</div>
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/datepicker.min.js}"></script>
	<script th:src="@{/js/datepicker.locale.min.js}"></script>
	<script th:src="@{/js/mask-money.min.js}"></script>
	<script th:src="@{/js/cobranca.js}"></script>
</body>
</html>