<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
<head>
	<title>Pesquisa de Título</title>
</head>

<section layout:fragment="conteudo">
	<div layout:insert="MensagemGeral"></div>
		<div class="panel panel-default">

			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title pull-left">Pesquisa de Título</h1>
					<a class="btn btn-link pull-right" th:href="@{/titulos/novo}">Novo Título</a>
				</div>				
			</div>
			
			<div class="panel-body">
			
				<form method="GET" th:action="@{/titulos}" class="form-horizontal" th:object="${filtro}">
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" th:field="*{descricao}" placeholder="Qual titulo você está procurando?" autofocus="autofocus">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</form>
			
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Descrição</th>
							<th class="text-center col-md-2">Data de Vencimento</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>
							<th class="col-md-2"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo : ${titulos}">
							<td class="text-center" th:text="${titulo.codigo}"></td>
							<td th:text="${titulo.descricao}"></td>
							<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
							<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center" th:attr="data-role=${titulo.codigo}">
								<span class="label" th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}" th:text="${titulo.status.descricao}"></span>
							</td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}" title="Editar" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal" th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}" title="Excluir" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
								<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}" th:attr="data-codigo=${titulo.codigo}" th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}" title="Receber" rel="tooltip" data-placement="top">
									<span class="glyphicon glyphicon-check"></span>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(titulos)}">
							<td class="text-center" colspan="6" >Nenum Título foi encontrado</td>
						</tr>
					</tbody>					
				</table>
			</div>
		</div>
	<div layout:insert="DialogoConfirmacaoExclusao"></div>
</section>
</html>